doctype html
html
    head
        meta(charset='UTF-8')
        script(src='/resources/scripts/ajaxRequest.js')
        block head

        meta(name="viewport", content="width=device-width, initial-scale=1")
        link(rel='stylesheet', type='text/css', href='/resources/stylesheets/accordion.css')
        //link(rel="stylesheet", href="stylesheets/app.css")
        link(rel='shortcut icon', href='/resources/img/logoM.png', type="image/png")

        meta(name="_csrf", content="#{_csrf.token}")
        meta(name="_csrf_header", content="#{_csrf.headerName}")

        script(type="application/javascript", src="/resources/vendor/scripts/jquery-2.1.4.min.js")
        script(type="application/javascript", src="/resources/vendor/scripts/bootstrap.min.js")

        link(rel='stylesheet', type='text/css', href='/resources/stylesheets/normalize.css')
        link(rel='shortcut icon', href='/resources/img/favicon.png', type="image/png")
        link(rel='stylesheet', type='text/css', href='/resources/stylesheets/component.css')
        link(rel='shortcut icon', href='/resources/img/favicon.png', type="image/png")
        link(rel='stylesheet', type='text/css', href='/resources/stylesheets/content.css')
        link(rel='stylesheet', type='text/css', href='/resources/stylesheets/ajaxstyle.css')
        script(src='/resources/scripts/modernizr.custom.js')
        script(src='/resources/scripts/accordion.js')
        script(src='/resources/scripts/jquery-1.9.1.js')
        script(src='/resources/scripts/dropDown.js')
        // BOOTSTRAP END
        link(href='/resources/stylesheets/style.css', rel='stylesheet')
        link(rel='stylesheet', type='text/css', href='/resources/stylesheets/header.css')
        link(rel='stylesheet', type='text/css', href='/resources/stylesheets/feedback.css')
        link(rel='stylesheet', type='text/css', href='/resources/stylesheets/form.css')
        link(rel='stylesheet', type='text/css', href='/resources/stylesheets/feedback.css')
        script(src='/resources/scripts/restorePasswordValidation.js')
        script(src='/resources/scripts/classie.js')
        script(src='/resources/scripts/uiMorphingButton_fixed.js')
        //script(src='/resources/scripts/headerButtons.js')
        link(rel='stylesheet', type='text/css', href='/resources/stylesheets/discount.css')
        link(rel='stylesheet', type='text/css', href='/resources/stylesheets/tab.css')
        link(rel='stylesheet', type='text/css', href='/resources/stylesheets/about.css')
        link(rel='stylesheet', type='text/css', href='/resources/stylesheets/morph.css')
        script(src='/resources/scripts/tab.js')
        script(src='/resources/scripts/morph.js')
        link(rel='stylesheet', type='text/css', href='/resources/stylesheets/home.css')
        link(rel='stylesheet', type='text/css', href='/resources/stylesheets/dropDown.css')
    body
        block body
            .header-container
                .header-container__header
                    a.header__link.header__link--sl(href='homepage')
                        img.header__link__image(src="/resources/img/logoOS.png")
                    .header__buttons
                        .morph-position--login.morph-position--js
                            if !(security.isUserInRole("ROLE_USER") || security.isUserInRole("ROLE_ADMIN") || security.isUserInRole("ROLE_STORE"))
                                .morph__background
                                    .morph-container
                                        input.morph__button--login.morph__button--js.morph__button--login--sl(type="button", value="login")
                                        .morph__close &#10006
                                        form.form.morph-content(action="/login", method="post")
                                            input(type="hidden", name="#{_csrf.parameterName}", value="#{_csrf.token}")
                                            label.form__label Login
                                            .form__input
                                                label.input__label email
                                                input.input__input.input-login-email--sl(name="username", type="text")
                                                .input__error
                                            .form__input
                                                label.input__label Password
                                                input.input__input.input-login-password--sl(name="password", type="password")
                                                .input__error
                                            .form__button
                                                input.button__button--red.button--login--sl(type="submit", value="login")
                                                a(href="/registration")
                                                    input.button__button--grey.button--registration--sl(type="button", value="registration")
                            else
                                block login
                                    if security.isUserInRole("ROLE_USER")
                                        form(action="/personal_area", method="post")
                                            input(type="hidden", name="#{_csrf.parameterName}", value="#{_csrf.token}")
                                            input.morph__button--login.button-pa--sl(type='submit', value="ЛК")
                                    if security.isUserInRole("ROLE_ADMIN")
                                        form(action="/admin_area", method="post")
                                            input(type="hidden", name="#{_csrf.parameterName}", value="#{_csrf.token}")
                                            input.morph__button--login.button-pa--sl(type='submit', value="ЛК")
                                    if security.isUserInRole("ROLE_STORE")
                                        form(action="/store_area", method="post")
                                            input(type="hidden", name="#{_csrf.parameterName}", value="#{_csrf.token}")
                                            input.morph__button--login.button-pa--sl(type='submit', value="ЛК")
                        .header__buttons__button--info.dropDown--js
                            .button--info__head.dropDown--js__head.dropDown-info--sl
                                    .head--info__text Information
                                    img.head--info__image(src="resources/img/arrowDownS.png")
                            .button--info__list--info.dropDown--js__list
                                a.list--info__a.link-about--sl(href="/about")
                                    .list--info__item about
                                a.link-developers--sl(href="developers")
                                    .list--info__item developers
                                a.link-feedback--sl(href="/feedback")
                                    .list--info__item feedback



