doctype html
html
     head
          meta(charset='utf-8')
          title Добавить скидку
          // BOOTSTRAP
          meta(name="_csrf", content="#{_csrf.token}")
          meta(name="_csrf_header", content="#{_csrf.headerName}")
          script(src='http://code.jquery.com/jquery-latest.js')
          script(src='/resources/scripts/bootstrap.js')
          link(href='/resources/stylesheets/bootstrap.min.css', rel='stylesheet')
          link(rel='shortcut icon', href='/resources/img/favicon.png', type="image/png")
          script(src='http://code.jquery.com/jquery-latest.js')
          script(src='/resources/scripts/jquery-1.9.1.js')
          script(src='/resources/scripts/bootstrap.js')
          link(href='/resources/stylesheets/bootstrap.min.css', rel='stylesheet')
          script(src='/resources/scripts/modernizr.custom.js')
          link(rel='stylesheet', type='text/css', href='/resources/stylesheets/normalize.css')
          link(rel='stylesheet', type='text/css', href='/resources/stylesheets/component.css')
          link(rel='stylesheet', type='text/css', href='/resources/stylesheets/content.css')
          // BOOTSTRAP END
          link(href='/resources/stylesheets/storestyle.css', rel='stylesheet')
          meta(name="_csrf", content="#{_csrf.token}")
          meta(name="_csrf_header", content="#{_csrf.headerName}")
     body
     h1 Aloha, Cards team! Do you want add new discount to database?
     h2 Add discount
     div
          if errors != null
               h3 Во время добавления скидки были обнаружены ошибки:
               each value, key in errors
                    .text
                         | Ошибка обнаружена в поле: #{key}.
                         |  #{value}
     div
          form(action="/add_discount", method="post")
               input(type="hidden", name="#{_csrf.parameterName}", value="#{_csrf.token}")
               input.form-control(name="key", placeholder="Your key", type="text")
               input.form-control(name="uin", placeholder="Your uin", type="text")
               input.form-control(name="isHidden", placeholder="Your isHidden", type="text")
               input.form-control(name="userId", placeholder="Your userId", type="text")
               input.form-control(name="storeName", placeholder="Your storeName", type="text")
               input.form-control(name="description", placeholder="Your description", type="text")
               input.btn.btn-primary(type="submit", value="Add")

