doctype html
html
    head
        meta(charset='utf-8')
        title Регистрация
        meta(name="_csrf", content="#{_csrf.token}")
        meta(name="_csrf_header", content="#{_csrf.headerName}")
        link(rel='stylesheet', type='text/css', href='/resources/stylesheets/normalize.css')
        link(rel='shortcut icon', href='/resources/img/favicon.png', type="image/png")
        link(rel='stylesheet', type='text/css', href='/resources/stylesheets/component.css')
        link(rel='shortcut icon', href='/resources/img/favicon.png', type="image/png")
        script(src='http://code.jquery.com/jquery-latest.js')
        link(rel='stylesheet', type='text/css', href='/resources/stylesheets/content.css')
        link(rel='stylesheet', type='text/css', href='/resources/stylesheets/ajaxstyle.css')
        script(src='/resources/scripts/modernizr.custom.js')
        script(src='/resources/scripts/registrationValidation.js')
        script(src='/resources/scripts/jquery-1.9.1.js')
        // BOOTSTRAP END
        link(href='/resources/stylesheets/style.css', rel='stylesheet')
        link(rel='stylesheet', type='text/css', href='/resources/stylesheets/header.css')
        link(rel='stylesheet', type='text/css', href='/resources/stylesheets/feedback.css')

    body
        // HEADER
        .header_container
            .header
                a(href='homepage')
                    .header-image
                        img(src="/resources/img/logoOS.png")
                .header-buttons
                    .log-button.morph-button.morph-button-modal.morph-button-modal-2.morph-button-fixed.morph-button-logout
                        if !(security.isUserInRole("ROLE_USER") || security.isUserInRole("ROLE_ADMIN") || security.isUserInRole("ROLE_STORE"))
                            button#login(type='button') Войти
                            .morph-content
                                .content-style-form.content-style-form-1
                                    span.icon.icon-close Закрыть окно
                                    h2 Войти
                                    if param.error
                                        .aler.alert-danger
                                            p= param.error
                                    form(action="/login", method="post")
                                        input(type="hidden", name="#{_csrf.parameterName}", value="#{_csrf.token}")
                                        if loginError
                                            #loginErrorMessage.errors
                                        .form-group
                                            label Email
                                            input.errorOutline(name="username", type="text")
                                        .form-group
                                            label Пароль
                                            input.errorOutline(name="password", type="password")
                                        .forget-password-href
                                            a(href="password_restore") Забыли пароль?
                                        input.yes(type="submit", value="Войти")

                                        a.reg-href(href="registration")
                                            .registrarion-btn
                                                Регистрация
                        else
                            if security.isUserInRole("ROLE_USER")
                                form(action="/personal_area", method="post")
                                    input(type="hidden", name="#{_csrf.parameterName}", value="#{_csrf.token}")
                                    input.exit-button(type='submit', value="ЛК")
                            if security.isUserInRole("ROLE_ADMIN")
                                form(action="/admin_area", method="post")
                                    input(type="hidden", name="#{_csrf.parameterName}", value="#{_csrf.token}")
                                    input.exit-button(type='submit', value="ЛК")
                            if security.isUserInRole("ROLE_STORE")
                                form(action="/store_area", method="post")
                                    input(type="hidden", name="#{_csrf.parameterName}", value="#{_csrf.token}")
                                    input.exit-button(type='submit', value="ЛК")
                    #js_info_button.info-button(tabindex='1')
                        | Информация
                        ul.dropdown
                            li
                                a(href='about') О проекте
                            li
                                a(href='developers') Разработчики
                            li
                                a(href='feedback') Поддержка
        // HEADER END
        // MAIN
        .main
            .registration-form
                h2.reg-fill-heading РЕГИСТРАЦИЯ
                .js-registration
                    form#js-registration-form(action="/registration", method="post")
                        .reg-input-lable-container
                            .infoBlock
                                if accActivate!=null
                                    | #{accActivate}
                            input(type="hidden", name="#{_csrf.parameterName}", value="#{_csrf.token}")
                            label.reglable Введите адрес эл. почты
                            input.form-control.email_input.not-morph(name='email', type='text')
                            .errors#emailError
                            label.reglable Введите пароль
                            input.form-control.password_input.not-morph(name='password', type='password')
                            .errors#passwordError
                            input.form-control.yes.registration-button.reginp(type='submit', value='Зарегистрироваться')
        // MAIN END
        // SCRIPTS
        if loginError
            script.
                $(document).ready(function(){
                    document.getElementById('login').click();
                    $('.morph-content').show();
                    $('#loginErrorMessage').html("Введён неверный Email или пароль.");
                    $('.errorOutline').addClass("red-error");
                })
        script(src='/resources/scripts/classie.js')
        script(src='/resources/scripts/uiMorphingButton_fixed.js')
        script.
            (function () {
                var docElem = window.document.documentElement, didScroll, scrollPosition;
                // trick to prevent scrolling when opening/closing button
                function noScrollFn() {
                    window.scrollTo(scrollPosition ? scrollPosition.x : 0, scrollPosition ? scrollPosition.y : 0);
                }
                function noScroll() {
                    window.removeEventListener('scroll', scrollHandler);
                    window.addEventListener('scroll', noScrollFn);
                }
                function scrollFn() {
                    window.addEventListener('scroll', scrollHandler);
                }
                function canScroll() {
                    window.removeEventListener('scroll', noScrollFn);
                    scrollFn();
                }
                function scrollHandler() {
                    if (!didScroll) {
                        didScroll = true;
                        setTimeout(function () {
                            scrollPage();
                        }, 60);
                    }
                };
                function scrollPage() {
                    scrollPosition = {
                        x: window.pageXOffset || docElem.scrollLeft,
                        y: window.pageYOffset || docElem.scrollTop
                    };
                    didScroll = false;
                };
                scrollFn();
                [].slice.call(document.querySelectorAll('.morph-button')).forEach(function (bttn) {
                    new UIMorphingButton(bttn, {
                        closeEl: '.icon-close',
                        onBeforeOpen: function () {
                            // don't allow to scroll
                            noScroll();
                        },
                        onAfterOpen: function () {
                            // can scroll again
                            canScroll();
                        },
                        onBeforeClose: function () {
                            // don't allow to scroll
                            noScroll();
                        },
                        onAfterClose: function () {
                            // can scroll again
                            canScroll();
                        }
                    });
                });
                // for demo purposes only
                [].slice.call(document.querySelectorAll('form button')).forEach(function (bttn) {
                    bttn.addEventListener('click', function (ev) {
                        ev.preventDefault();
                    });
                });
            })();
        script(type='text/javascript').
            function DropDown(el) {
                this.dd = el;
                this.initEvents();
            }
            DropDown.prototype = {
                initEvents: function () {
                    var obj = this;
                    obj.dd.on('click', function (event) {
                        $(this).toggleClass('active');
                        event.stopPropagation();
                    });
                }
            }
            $(function () {
                var js_info_button = new DropDown($('#js_info_button'));
                $(document).click(function () {
                    // all dropdowns
                    $('.info-button').removeClass('active');
                });
            });
        //SCRIPTS END