<<<<<<< HEAD
extends ../layout.jade
block append head
    title Личный кабинет
block login
    form(action="/logout", method="post")
        input(type="hidden", name="#{_csrf.parameterName}", value="#{_csrf.token}")
        input.exit-button(type='submit',value='Выход')
block append body
    .body--store-area
        form.form--small(action="/use_discount", method="post")
            label.form__label ИСПОЛЬЗОВАТЬ СКИДКУ
            .form__input
                label.input__label Введите ключ скидки
                input.input__input(name="key", type="text")
                .input__error
            input.button__button--red.button__button-submit-js(type='submit', value='ИСПОЛЬЗОВАТЬ')
        .body__discount--store-area
            .discount__head
                label.discount__head__label Акции
                .discount__head__button
                    input.button__button--red--squad(type="button", value="+")
            .discount__search
                input.search__input(type='text', placeholder='Поиск...')
                img.search__icon(src='resources/img/loupe.png')
            .discount__tab-head
                input.tab-head__head.tab-head__head--1.tab-head__head--active(type="button", value="Активные")
                input.tab-head__head.tab-head__head--2(type="button", value="Неактивные")
            .discount__tab-content
                .tab-content__accordion.tab-content__accordion--1.tab-content__accordion--active
                    for campaign in activeCampaigns
                        .accordion
                            .accordion__head
                                .accordion__head__name #{campaign.name}
                                img.accordion__head__arrow(src="/resources/img/arrowUpWhite.png")
                            .accordion__content
                                .accordion__content__description
                                    label.description__label--bold Скидка:
                                    p.description__p #{campaign.percent}%
                                    label.description__label--bold Описание:
                                    p.description__p #{campaign.description}
                                img.accordion__content__image(src="/resources/img/blizzard.png")
                                .accordion__content__button.morph-position--js
                                    .morph__background
                                        .morph-container
                                            input.button__button--red--small.morph__button--js(type="button", value="Сгенерировать")
                                            .morph__close &#10006
                                            form.form.morph-content(action="/create_discount_by_campaign", method="post")
                                                label.form__label Сгенерировать
                                                input(name="campaignId", value= "#{campaign.id}", type="hidden")
                                                .form__input
                                                    label.input__label email
                                                    input.input__input(name="email", type="text")
                                                    .input__error
                                                .form__button
                                                    input.button__button--red.button__button-submit-js(type="submit", value="Сгенерировать")
                                .accordion__content__button
                                    input.button__button--grey--small(type="button", value="Деактивировать")
                .tab-content__accordion.tab-content__accordion--2
                    for campaign in notActiveCampaigns
                        .accordion
                            .accordion__head
                                .accordion__head__name #{campaign.name}
                                img.accordion__head__arrow(src="/resources/img/arrowUpWhite.png")
                            .accordion__content
                                .accordion__content__description
                                    label.description__label--bold Скидка:
                                    p.description__p #{campaign.percent}%
                                    label.description__label--bold Описание:
                                    p.description__p #{campaign.description}
                                img.accordion__content__image(src="/resources/img/blizzard.png")
                                .accordion__content__button
                                    input.button__button--red--small(type="button", value="Активировать")

