extends ../layout.jade
block append head
    title Личный кабинет
block append body
    .body--store-area
        form.form--small(action="/use_discount", method="post")
            label.form__label ИСПОЛЬЗОВАТЬ СКИДКУ
            .form__input
                label.input__label Введте ключ скидки
                input.input__input(name="key", type="text")
                .input__error
            input.button__button--red.button__button-submit-js(type='submit', value='ИСПОЛЬЗОВАТЬ')
        .body__discount--store-area
            .discount__search
                input.search__input(type='text', placeholder='Поиск...')
                img.search__icon(src='resources/img/loupe.png')
            .discount__tab-head
                input.tab-head__head.tab-head__head--1.tab-head__head--active(type="button", value="Активные")
                input.tab-head__head.tab-head__head--2(type="button", value="Неактивные")
            .discount__tab-content
                .tab-content__accordion.tab-content__accordion--1.tab-content__accordion--active
                    for campaign in activeCampaigns
                        .accordion
                            .accordion__head
                                .accordion__head__name #{campaign.name}
                                img.accordion__head__arrow(src="/resources/img/arrowUpWhite.png")
                            .accordion__content
                                .accordion__content__description
                                    label.description__label--bold Скидка:
                                    p.description__p #{campaign.percent}%
                                    label.description__label--bold Описание:
                                    p.description__p #{campaign.description}
                                img.accordion__content__image(src="/resources/img/blizzard.png")
                                .accordion__content__button
                                    input.button__button--red--small(type="button", value="Сгенерировать")
                .tab-content__accordion.tab-content__accordion--2
                    for campaign in notActiveCampaigns
                        .accordion
                            .accordion__head
                                .accordion__head__name #{campaign.name}
                                img.accordion__head__arrow(src="/resources/img/arrowUpWhite.png")
                            .accordion__content
                                .accordion__content__description
                                    label.description__label--bold Скидка:
                                    p.description__p #{campaign.percent}%
                                    label.description__label--bold Описание:
                                    p.description__p #{campaign.description}
                                img.accordion__content__image(src="/resources/img/blizzard.png")
                                .accordion__content__button
                                    input.button__button--red--small(type="button", value="Использовать")
